
{% extends 'base.html' %}
{%  block content %}
<div class="row">

<!-- content -->
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  
	<h1>The homepage of the intarweb</h1>

	<a class="btn btn-primary" href='{% url 'posts:create' %}'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> New Post</a>
	<br />
	<br />

	{% for post in posts.all %}

	<div class="box-post">
		<div class="updown">
			<a href="#" class="caretLink" onClick="document.getElementById('upvote{{ post.id }}').submit()"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a><br/>{{ post.votes_total }}<br/><a href="#" onClick="document.getElementById('downvote{{ post.id }}').submit()" class="caretLink"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
		</div>
		<div class="desc">
			<a href="{{ post.url }}" class="title">{{ post.title }}</a><br />{{ post.pub_date_pretty }} by <a href="{% url 'posts:userposts' post.author.id %}">{{ post.author.username }}</a>
		</div>
	</div>

	<form id="upvote{{ post.id }}" method="POST" action="{% url 'posts:upvote' post.id %}">
	  {% csrf_token %}
	  <input type="hidden">
	</form>

	<form id="downvote{{ post.id }}" method="POST" action="{% url 'posts:downvote' post.id %}">
	  {% csrf_token %}
	  <input type="hidden">
	</form>

	{% endfor %}

</div>
<!-- end content -->
<!-- sidebar -->
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  test
</div>
<!-- end sidebar -->
     
 </div>
{% endblock %}

